.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffd400;
    color: #16479d;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
    margin-right: 0.8em;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar li, .navbar a{
    font-weight: bold;
    color: #16479d;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.navbar li:hover{
    
    background-color: #16479d;
    color: #fff;
    
}

.navbar li:hover > a{
    background-color: #16479d;
    color: #fff;
}

