.pet_home_header {
    text-align: center;
    margin-bottom: 2em;
}

.pet_home_header h1 {
    margin-bottom: 0.3em;
}

.pet_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -1%;
}

.pet_card {
    width: 23%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #25b43a;
    border-radius: 15px;
    padding: 1.2em;
}

.pet_card_image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

.pet_card h3, .pet_card p {
    margin-bottom: 1em;
}

.pet_card a {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #25b43a;
    color: #25b43a;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: 0.3s;
}

.pet_card a:hover {
    background-color: #25b43a;
    color: #fff;
}

.adopted_text {
    color: #777;
    font-weight: bold;
    text-transform: uppercase;
}