.form_container{
    max-width: 300px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 25px;
}

.form_container input[type="submit"]{
    background-color: #5cb85c;
    color: white;
    font-weight: bold;
    min-width: 100px;
    min-height: 2.5em;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 1em;
    border-radius: 8px;
    font-weight: bold;
}

.form_container input[type="submit"]:hover{
    background-color: #398439;
}

.form_container p{
    text-align: center;
    margin-top: 2em;
}

.form_container p a {
    color: #2422bc;
    text-decoration: none;
    font-weight: bold;
}