.form_container{
    max-width: 600px;
    margin: 0 auto;
    background-color: #FFF;
    border-radius: 25px;
}

.form_container input[type="submit"]{
    background-color: #5cb85c;
    color: white;
    font-weight: bold;
    min-width: 100px;
    min-height: 2.5em;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 1em;
    border-radius: 8px;
    font-weight: bold;
}

.form_container input[type="submit"]:hover{
    background-color: #398439;
}

.form_container p{
    text-align: center;
    margin-top: 2em;
}

.form_container p a {
    color: #2422bc;
    text-decoration: none;
    font-weight: bold;
}


.preview_pet_images {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
    gap: 10px;
}

.preview_pet_images img {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 8px;
}