.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.form_control label{
    margin-bottom: .5em;
    font-weight: bold;
    color: #333;
    font-size: .8em;
}

.form_control input{
    padding: .8em;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1em;
}

.form_control input::placeholder{
    color: #7b7b7b;
}