.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    border: #1d1d1d;
}

.form_control label{
    margin-bottom: .5em;
    font-weight: bold;
    color: #1d1d1d;
    font-size: .8em;
}

.form_control select{
    padding: .8em;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1em;
}

.form_control select:focus{
    border-color: #2422bc;
    outline: none;
    box-shadow: 0 0 5px rgba(36, 34, 188, 0.5);
}

.form_control textarea{
    padding: .8em;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 1em;
    resize: vertical;
    min-height: 100px;
}

.form_control textarea::placeholder{
    color: #7b7b7b;
}