/* Dashboard.module.css */

.petslist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.petslist_header h1 {
    margin: 0;
}

.petslist_header a {
    background-color: #25b43a;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.7em 1.2em;
    border-radius: 5px;
    transition: 0.3s;
}

.petslist_header a:hover {
    background-color: #1e912f;
}

.petslist_container {
    display: flex;
    flex-direction: column;
}

.pet_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    transition: 0.2s;
}

.pet_card:hover {
    background-color: #f9f9f9;
}

.pet_card span {
    flex: 1;
    margin-left: 1.5em;
    font-weight: bold;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.actions a, 
.actions button {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #444;
    color: #444;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: bold;
    transition: 0.3s;
}

.actions a:hover {
    background-color: #444;
    color: #fff;
}

.actions button:hover {
    background-color: #d9534f; /* Vermelho para o Excluir */
    color: #fff;
    border-color: #d9534f;
}

/* Botão de Concluir Adoção */
.conclude_btn {
    background-color: #25b43a !important;
    color: #fff !important;
    border-color: #25b43a !important;
}

.conclude_btn:hover {
    background-color: #1e912f !important;
}

@media (max-width: 600px) {
    .pet_card {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    
    .pet_card span {
        margin: 0;
    }
}

.tabs_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2em;
    border-bottom: 2px solid #eee;
}

.tabs_container button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    color: #777;
    transition: 0.3s;
}

.active_tab {
    color: #25b43a !important;
    border-bottom: 3px solid #25b43a !important;
}

.contact_info {
    flex: 2;
    margin-left: 20px;
    text-align: left;
}

.contact_info p {
    margin: 2px 0;
    font-size: 0.9em;
}

.cancel_btn {
    border: 1px solid #d9534f !important;
    color: #d9534f !important;
}

.cancel_btn:hover {
    background-color: #d9534f !important;
    color: #fff !important;
}

.status_process {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.concluded_msg {
    color: #25b43a;
    font-weight: bold;
    text-transform: uppercase;
}